.darkmode {
    --bg: var(--gray5);
    --bg-nav: rgba(29, 29, 31, .72);
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);

    /* slide hello */
    --c-mirror-bg1: #202020;

    /* slide clients */
    --icon-color-clients: #DBEDF3;
    --bg-color-clients: rgba(10,10,10, 1);
    --border-color-clients: #1F1F1F;
}