.lightmode {
    --bg: var(--gray0);
    --bg-nav: rgba(255, 255, 255, .72);
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);

    /* slide hello */
    --c-mirror-bg1: #FFC3B7;

    /* slide clients */
    --icon-color-clients: #202020;
    --bg-color-clients: rgba(219,237,243, 1);
    --border-color-clients: #C4D4DA;
}