.riviera {
    --bg: #FF8B8B;
    --text: #9C2525;
    --headline-color: #F9F8E6;
    --akzent: #F9F8E6;

    /* slide clients */
    --icon-color-clients: var(--headline-color);
    --bg-color-clients: var(--bg);
    --border-color-clients: var(--text);
}