/* myreset.scss */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Disable Blue Highlight and Grey Touch Highlight when Touch or press object with cursor or finger */
details,
summary,
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Lazy loading images */
img {
  min-height: 36px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* HTML */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* COLORS */
/* Themes */
:root {
  --background: rgba(85, 214, 170, .85);
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  --bg-nav: rgba(255, 255, 255, .72);
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: rgba(29, 29, 31, .72);
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
}

.solar {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea565;
  --gray5: #005368;
  --gray6: #003d4c;
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

#solar::before {
  background: var(--bg-solar);
}

/* FONTS */
/* TYPOGRAPHY */
body {
  color: var(--text);
  font-family: 'Sofia Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: #FFFFFF;
  font-size: 48px;
  letter-spacing: -1.77px;
  text-align: center;
}

@media (min-width: 576px) {
  h1 {
    color: #ff0000;
  }
}

@media (min-width: 768px) {
  h1 {
    color: #00ff00;
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  h1 {
    color: #0000ff;
    font-size: 110px;
  }
}

@media (min-width: 1200px) {
  h1 {
    color: #00ffff;
  }
}

@media (min-width: 1400px) {
  h1 {
    color: #ff00ff;
    font-size: 10em;
  }
}

h2 {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  h2 {
    color: #0000ff;
    font-size: 54px;
    line-height: 58px;
  }
}

h3 {
  margin-top: 2em;
  font-size: 28px;
}

p {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 2em;
}

@media (min-width: 992px) {
  p {
    color: #0000ff;
    font-size: 25px;
    line-height: 40px;
  }
}

/* BASE */
html {
  scroll-behavior: smooth;
}

html, body {
  height: 100vh;
}

body {
  background: var(--bg);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* main */
main {
  max-width: 2560px;
  margin: 0 auto;
}

/* section */
section {
  overflow: hidden;
  min-height: 520px;
  margin: 0 auto;
  padding: 80px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  section {
    color: #ff0000;
  }
}

@media (min-width: 768px) {
  section {
    color: #00ff00;
  }
}

@media (min-width: 992px) {
  section {
    color: #0000ff;
    padding: 140px 160px;
  }
}

@media (min-width: 1200px) {
  section {
    color: #00ffff;
  }
}

@media (min-width: 1400px) {
  section {
    color: #ff00ff;
  }
}

header, section:not(:last-child) {
  border-bottom-color: var(--bg);
  border-bottom-style: solid;
  border-bottom-width: 12px;
}

.slide:nth-child(odd) {
  background-image: radial-gradient(circle at 50% -3.03%, #fe8543 0, #ff7946 10%, #ff6c4a 20%, #ff5e4e 30%, #ff4d53 40%, #ff3858 50%, #fb1b5e 60%, #f70066 70%, #f1006f 80%, #eb0079 90%, #e30083 100%);
}

.slide:nth-child(even) {
  background-image: linear-gradient(135deg, #F0FF00 10%, #58CFFB 100%);
}

.container {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#8bc34a), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #8bc34a 0%, rgba(255, 255, 255, 0) 100%);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 541px;
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    min-width: 721px;
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 960px;
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    min-width: 1140px;
    max-width: 1320px;
  }
}

/* Styling password fields to get better dots */
input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}

/* Variablen */
.details__faq[open] summary ~ * {
  -webkit-animation: fadeIn .3s ease-in-out;
          animation: fadeIn .3s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.details__faq {
  overflow: hidden;
  border-bottom: 1px solid #fff;
  -webkit-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}

.details__faq:last-child {
  border-bottom: 0;
}

.details__faq__summary {
  padding: 10px;
}

.details__faq__summary {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: .009em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  list-style: none;
  padding-left: 0;
  outline: 0;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

[open] > .details__faq__summary {
  color: #00ACC1;
}

.details__faq__summary::-webkit-details-marker {
  display: none;
}

.details__faq__summary:before, .details__faq__summary:after {
  content: "";
  position: absolute;
}

.details__faq__summary:before {
  right: 13px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  width: 16px;
  background: #00ACC1;
}

.details__faq__summary:after {
  right: 21px;
  top: 50%;
  height: 16px;
  margin-top: -8px;
  width: 2px;
  margin-left: -1px;
  background: #00ACC1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

[open] .details__faq__summary:after {
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

:focus {
  outline: none;
}

.details__faq summary {
  cursor: pointer;
}

.details__faq summary > * {
  display: inline;
}

/* SLIDE NAVIGATION */
.nav {
  position: fixed;
  z-index: 9999;
  min-width: 320px;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background: var(--bg-nav);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  color: var(--text);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Logo */
.logo {
  left: 12px;
  top: 12px;
  position: relative;
  width: 46px;
  height: 46px;
}

.logo:hover {
  -webkit-animation: colorrotate 1s;
          animation: colorrotate 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/* Navbar */
.navbar {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  pointer-events: auto;
  letter-spacing: normal;
  display: block;
  padding-left: calc(max(22px, env(safe-area-inset-left)));
  padding-right: calc(max(22px, env(safe-area-inset-right)));
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: 70px;
  -webkit-box-pack: justify;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar li {
  margin: 0 1em;
  line-height: 70px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

/* Navbar/Dropdown */
.dropdown {
  position: absolute;
  opacity: 1;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: 2px solid var(--border-color);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  padding: 0.5rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075);
  -webkit-transform: translateX(-42%);
          transform: translateX(-42%);
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  padding-left: 10px;
  font-weight: bold;
}

.dropdown-item a::before {
  content: ' ';
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* Logo Animation */
@-webkit-keyframes colorrotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes colorrotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.subnav {
  z-index: 9998;
  height: 52px;
  margin-top: 70px;
  margin-bottom: -122px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(23, 103, 239, 0.85)), to(rgba(20, 196, 251, 0.85)));
  background: linear-gradient(to left, rgba(23, 103, 239, 0.85), rgba(20, 196, 251, 0.85));
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

.css-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* SLIDE COVER */
header {
  padding: 0;
  margin: 0;
  max-width: 2560px;
  margin: 0 auto;
  margin-top: 122px;
}

header.hero {
  position: relative;
  overflow: hidden;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 548px;
  height: calc(100vh - (70px + 52px));
  max-height: 910px;
  padding: 80px 24px;
}

@media (min-width: 576px) {
  header.hero {
    color: #ff0000;
  }
}

@media (min-width: 768px) {
  header.hero {
    color: #00ff00;
  }
}

@media (min-width: 992px) {
  header.hero {
    color: #0000ff;
    min-height: calc(910px + (70px + 52px));
    height: calc(100vh - (70px + 52px));
  }
}

@media (min-width: 1200px) {
  header.hero {
    color: #00ffff;
  }
}

@media (min-width: 1400px) {
  header.hero {
    color: #ff00ff;
  }
}

.no-webp header.cover {
  /* Unsplash Image */
  background-image: url("../img/homepage/main/cover_small.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .no-webp header.cover {
    background-image: url("../img/homepage/main/cover_medium.jpg");
  }
}

@media (min-width: 992px) {
  .no-webp header.cover {
    background-image: url("../img/homepage/main/cover_large.jpg");
  }
}

.webp header.cover {
  background-image: url("../img/homepage/main/cover_small.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .webp header.cover {
    background-image: url("../img/homepage/main/cover_medium.webp");
  }
}

@media (min-width: 992px) {
  .webp header.cover {
    background-image: url("../img/homepage/main/cover_large.webp");
  }
}

/* Extras */
.hero__arrow {
  position: absolute;
  bottom: 50px;
  right: 40px;
  pointer-events: none;
}

a {
  color: inherit;
  -webkit-transition: opacity .35s ease-in;
  transition: opacity .35s ease-in;
}

a {
  -webkit-transition: opacity 50ms ease-in !important;
  transition: opacity 50ms ease-in !important;
}

a {
  scroll-behavior: smooth;
}

a.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: #3c4664;
  border: 1px solid #3c4664;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 23px 48px;
  border-radius: 45px;
  white-space: nowrap;
}

header .btn {
  position: absolute;
  left: 50%;
  bottom: 22px;
  color: #cddbef;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  border: none;
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.21, -0.01, 0.38, 0.98) 0ms;
  transition: all 0.3s cubic-bezier(0.21, -0.01, 0.38, 0.98) 0ms;
}

/* SLIDE HELLO */
#hello {
  background-color: #FFC3B7;
  background-image: none;
}

h2.roofline {
  display: inline-block;
  margin-bottom: 50px;
  color: var(--text);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: left;
}

p.hellomsg {
  display: block;
  overflow: hidden;
  margin-bottom: 50px;
  color: var(--text);
  font-size: 54px;
  line-height: 65px;
  font-weight: 600;
  word-wrap: break-word;
}

p.hellomsg a {
  color: var(--text);
  border-bottom: 3px solid var(--text);
}

p.hellomsg a:hover {
  color: var(--bg-solar);
  border-bottom: 3px solid var(--bg-solar);
}

p.hellomsg a:active {
  color: var(--border-color);
  border-bottom: 3px solid var(--border-color);
}

ul.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  color: var(--text);
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
}

ul.contact-list li {
  margin-bottom: 1rem;
}

ul.contact-list li:not(:last-child) {
  margin-right: 2rem;
}

ul.contact-list li a:hover {
  color: var(--bg-solar);
}

ul.contact-list li a:active {
  color: var(--border-color);
}

/* SLIDE PROJECTS */
/* SLIDE WORK EXPERIENCE */
/* SLIDE CLIENTS */
.clients {
  padding: 0;
}

.icon {
  width: 60px;
}

.popular-brands {
  height: 100%;
  background-color: #C4D4DA;
  border-top: 1px solid #C4D4DA;
  border-bottom: 1px solid #C4D4DA;
  display: -ms-grid;
  display: grid;
  grid-gap: 1px 1px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 576px) {
  .popular-brands {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .popular-brands {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .popular-brands {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.popular-brands > * {
  padding: 4rem 0 4rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: solid 1px #C4D4DA;*/
  text-align: center;
  background-color: #DBEDF3;
}

.popular-brand-colors {
  --brand-color-amazon: #FF9900;
  --brand-color-apple: #000000;
  --brand-color-behance: #1769FF;
  --brand-color-codepen: #000000;
  --brand-color-discord: #5865F2;
  --brand-color-facebook: #1877F2;
  --brand-color-github: #181717;
  --brand-color-gmail: #EA4335;
  --brand-color-google: #4285F4;
  --brand-color-hellofresh: #99CC33;
  --brand-color-icq: #24FF00;
  --brand-color-instagram: #E4405F;
  --brand-color-linkedin: #0A66C2;
  --brand-color-messenger: #00B2FF;
  --brand-color-patreon: #FF424D;
  --brand-color-paypal: #00457C;
  --brand-color-pinterest: #BD081C;
  --brand-color-slack: #4A154B;
  --brand-color-trello: #0052CC;
  --brand-color-twitch: #9146FF;
  --brand-color-twitter: #1DA1F2;
  --brand-color-unsplash: #000000;
  --brand-color-whatsapp: #25D366;
  --brand-color-xing: #006567;
  --brand-color-youtube: #FF0000;
}

/*************
SLIDE CSS GRID
*************/
#cssgrid {
  padding-left: var(--gutter) 0;
  padding-right: var(--gutter) 0;
}

.grid-container {
  background-color: aquamarine;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
}

.grid-example-one {
  gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 216px;
}

/*.grid-container-beispiel1:before, .grid-container-beispiel1:after {
    content: '';
    width: 20px;
}*/
.grid-container div:nth-child(even) {
  background-color: red;
  color: #fff;
}

.grid-container div:nth-child(odd) {
  background-color: green;
  color: #fff;
}

.grid-item {
  padding: 20px;
  border-radius: 5px;
  scroll-snap-align: center;
  width: 335px;
}

/*************************
SLIDE HORIZONTAL SCROLLING
*************************/
:root {
  --gutter: 24px;
}

#horizontal-scrolling {
  padding-left: var(--gutter) 0;
  padding-right: var(--gutter) 0;
}

.grid-container-beispiel1 {
  background-color: orange;
  margin-bottom: 50px;
  /* Grid */
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  /* Horizontal Snap Scrolling */
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  /* Scrolling ausblenden */
  padding-bottom: 30px;
  white-space: nowrap;
  -webkit-clip-path: inset(0 0 30px 0);
          clip-path: inset(0 0 30px 0);
  -webkit-overflow-scrolling: touch;
  padding: 0 50px 30px 50px;
  scroll-padding-left: 50px;
  scroll-padding-right: 50px;
}

.grid-container-beispiel1::-webkit-scrollbar {
  display: none;
}

.scroll-container:before, .scroll-container:after {
  content: '';
  width: 20px;
}

.1scroll-item:first-child {
  margin-left: 20px;
}

.1scroll-item:last-child {
  background-color: gold;
  margin-right: 200px;
}

.hs {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: ()[335px];
      grid-template-columns: repeat(335px);
  grid-auto-flow: column;
  grid-auto-columns: 335px;
  grid-auto-rows: 216px;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.scroll-item {
  scroll-snap-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* SLIDE FOOTER */
footer {
  min-height: 520px;
  background-color: var(--bg-nav);
}

footer > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

footer > nav {
  background-color: rgba(208, 255, 0, 0.85);
}

footer > nav > ul {
  background-color: rgba(85, 214, 170, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer > nav > ul > li {
  height: 100px;
  background-color: #ffe926;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
