/*************************
SLIDE HORIZONTAL SCROLLING
*************************/

:root {
    --gutter: 24px;
}

#horizontal-scrolling {
    padding-left: var(--gutter) 0;
    padding-right: var(--gutter) 0;
}

.grid-container-beispiel1 {
    background-color:orange;
    margin-bottom: 50px;

    /* Grid */
    display: grid;
    grid-auto-flow: column;
    gap: 10px;

    /* Horizontal Snap Scrolling */
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    /* Scrolling ausblenden */
    padding-bottom: 30px;
    white-space: nowrap;
    clip-path: inset(0 0 30px 0);

    -webkit-overflow-scrolling: touch;

    padding: 0 50px 30px 50px;
    scroll-padding-left: 50px;
    scroll-padding-right: 50px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.scroll-container:after {
    content: '';
    width: 20px;
}



// .scroll-item:first-child {
//     margin-left: 20px;
// }

// .scroll-item:last-child {
//     background-color: gold;
//     margin-right: 20px;
// }



.hs {
    background-color: orange;

    display: flex;
    gap: 10px;
    width: 100%;

    overflow-x: scroll;
    overscroll-behavior: contain;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    scroll-padding: 20px;

    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));

    padding: 0 20px 20px 20px;
}

.scroll-item {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    border-radius: 5px;

    flex: 0 0 335px;
    height: 216px;

    background-color: lightgreen;
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}





/* Horizontal Snap */
.horizontal-snap {
    
}

.horizontal-snap:after {
    background-color: gold;
    margin-right: 20px;
}