/* SLIDE NAVIGATION */

:root {
    --ds-globalnav-height: 70px;
    --ds-localnav-height: 52px;
    --ds-localnav-marginbottom: calc((var(--ds-globalnav-height) + var(--ds-localnav-height)) * -1);
}

/* Globale Navigation */

#ds-globalnav {
    z-index: 9999;
    /*position: fixed;*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    min-width: 320px;
    width: 100%;
    min-height: 48px;
    height: var(--ds-globalnav-height);

    background: var(--bg-nav);
    backdrop-filter: var(--main-bg-blur);

    display: flex;
    justify-content: center;
    align-items: stretch;


    .nav-container {
        padding-left: calc(max(22px, env(safe-area-inset-left)));
        padding-right: calc(max(22px, env(safe-area-inset-right)));

        display: flex;
        justify-content: space-between;
        align-items: stretch;

        /* Brand Logo */
        .brandlogo {
            display: flex;
            align-items: center;
            position: relative;
            width: 47px;

            a {
                display: flex;
                align-items: center;
                height: 48px;
            }

            a:hover {
                animation: colorrotate 1s;
                animation-iteration-count: infinite; 
                animation-direction: alternate;
            }
        }

        /* Brand Contact */
        .brandcontact {
            display: flex;
            align-items: center;
        }
    }
}




/* Brand Logo Animation */
@keyframes colorrotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}



/* Navbar */
.navbar {
    margin: 0 auto;
    max-width: 980px;
    
    position: relative;
    z-index: 2;
    box-sizing: content-box;
    pointer-events: auto;
    letter-spacing: normal;
    display: block;

    .navbar-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;

        li:not(:last-child) {
            margin-right: 1em;
        }
    }
}



/* Navbar/Dropdown */
.dropdown {
    position: absolute;

    opacity: 1;
    z-index: 2;
    background: var(--bg-dropdown);
    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 27px;
    padding: 1rem;

    max-width: 320px;

    box-shadow:
      0 1px 1px hsla(0, 0%, 0%, .075),
      0 2px 2px hsla(0, 0%, 0%, .075),
      0 4px 4px hsla(0, 0%, 0%, .075),
      0 8px 8px hsla(0, 0%, 0%, .075),
      0 16px 16px hsla(0, 0%, 0%, .075);
    
    transform: translateX(-13rem);
    transition: opacity .15s ease-out;

    .dropdown-item {
        width: 140px;
    }

    .dropdown-item:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;

    &::before {
        content: '';
        border: 2px solid var(--border-color);
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
    }
}

/* Sub Navigation */
.ds-localnav {
    z-index: 887;
    height: var(--ds-localnav-height);
    margin-top: var(--ds-globalnav-height);
    margin-bottom: var(--ds-localnav-marginbottom);
    background: linear-gradient(to left, rgba(23,103,239,0.85), rgba(20,196,251,0.85));
    backdrop-filter: var(--main-bg-blur);

    display: flex;
    justify-content: center;
    align-items: center;

    &.stickynav {
        position: sticky;
        top: 0;
    }
}


