/* Allgemeines */ 
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

main {
    min-height: 703px;
    padding: 111px 166px 103px 160px;
    background-color: #FFC3B7;;
}

h3 {
    margin-top: 2em;
    font-size: 28px;
}

p {
    margin-bottom: 2em;
}

/* Navbar */

.navbar {
    height: 145px;
    width: 100vw;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);

    border-bottom: var(--text) 1px solid;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.dropdown {
    position: absolute;

    opacity: 1;
    z-index: 2;
    background: var(--bg-dropdown);
    
    border-top: 2px solid var(--border-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0.5rem;

    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    
    transform: translateX(-42%);
    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Navbar */

header {
    margin: 0;
    padding: 2em;
    text-align: center;
    clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    
    background: var(--bg-nav);
    width: 100vw;
    height: 100vw;
}

.logo {
    background-color: #000;
    width: 128px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/* Footer */
footer {
    padding-right: 0px;
    overflow-x: hidden;
}

.icon {
    width: 36px;
}

.contentbox {
    margin: 150px 30px;
    padding: 0;
}

.popular-brands {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    border-top: 1px solid #C4D4DA;
}

.popular-brands > * {
    flex: 1 1 13rem;


    padding: 4rem 0 4rem 0;
    box-sizing: border-box;
    border: solid 1px #C4D4DA;
    margin: -1px -1px 0 -1px;
    text-align: center;

    background-color: #DBEDF3;
}

.popular-brand-colors {
    --amazon: #FF9900;
    --apple: #000000;
    --behance: #1769FF;
    --codepen: #000000;
    --discord: #5865F2;
    --facebook: #1877F2;
    --github: #181717;
    --gmail: #EA4335;
    --google: #4285F4;
    --hellofresh: #99CC33;
    --icq: #24FF00;
    --instagram: #E4405F;
    --linkedin: #0A66C2;
    --messenger: #00B2FF;
    --patreon: #FF424D;
    --paypal: #00457C;
    --pinterest: #BD081C;
    --slack: #4A154B;
    --trello: #0052CC;
    --twitch: #9146FF;
    --twitter: #1DA1F2;
    --unsplash: #000000;
    --whatsapp: #25D366;
    --xing: #006567;
    --youtube: #FF0000;
}


/* Themes */

:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}

.light {
    --bg: var(--gray0);
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
}

.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
}

.solar {
    --gray0: #fbffd4;
    --gray1: #f7f8d0;
    --gray2: #b6f880;
    --gray3: #5ec72d;
    --gray4: #3ea565;
    --gray5: #005368;
    --gray6: #003d4c;
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}


/* Logo Animation */

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}


.logo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}



