@font-face {
    font-family: 'Helvetica Now Variable';
    src: url('../fonts/Helvetica Now/HelveticaNowVar.woff2') format('woff2-variations');
    font-style: normal;
    font-weight: 50 1000;
    font-display: swap;
    size-adjust: 100%;

    descent-override: 0%;
    ascent-override: 66%;
    line-gap-override: 3%;
}