/* TYPOGRAPHY */

/* Headings */
h1 {
    // <576px
    color: var(--text);
    font-size: 3rem;
    letter-spacing: -1.77px;
    text-align: center;

    background-color: rgba(0,255,255, 0.3);
    
    // ≥576px
    @include sm {
        font-size: 4rem;
    }

    // ≥768px
    @include md {
        font-size: 5rem;
    }

    // ≥992px
    @include lg {
        font-size: 6rem;
    }

    // ≥1200px
    @include xl {
        font-size: 8rem;
    }

    // ≥1400px
    @include xxl {
        font-size: 10rem;
    }
}

h2 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 1em;

    // ≥992px
    @include lg {
        color: #0000ff;
        font-size: 54px;
        line-height: 58px;
    }
}

h3 {
    margin-top: 2em;
    font-size: 28px;
}

p {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 2em;

    // ≥992px
    @include lg {
        color: #0000ff;
        font-size: 25px;
        line-height: 40px;
    }
}



/* Display headings */
@mixin displaysettings() {
    font-weight: 300;
}

.display {
    &-1 {
        @include displaysettings();
        font-size: 7.81vw;
        line-height: 9.37vw;

        // ≥576px
        @include sm {
            font-size: 7.81vw;
            line-height: 9.37vw;
        }

        // ≥768px
        @include md {
            font-size: 2.5rem;
            line-height: 3.125rem;
        }

        // ≥992px
        @include lg {
            font-size: 5.625rem;
            line-height: 6.75rem;
        }

        // ≥1200px
        @include xl {
            font-size: 6.25rem;
            line-height: 6.875rem;
        }

        // ≥1400px
        @include xxl {
            font-size: 9.375rem;
            line-height: 10.31rem;
        }
    }
}