/* GRID */

/* DEFAULT */
:root {
    // BORDERS
    --border-radius-xsmall: 2px;
    --border-radius-small: 3px;

    // GRID
    --grid-width: 114rem;
    --gap-vertical: 8rem;
    --gap-vertical-small: 6rem;
    --gap-horizontal: 6rem;
}