/* myreset.scss */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    scroll-behavior: smooth;
}

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Disable Blue Highlight and Grey Touch Highlight when Touch or press object with cursor or finger */
details,
summary,
button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba($color: #000, $alpha: 0.0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Lazy loading images */
img {
    min-height: 36px;
    max-width: 100%;
    object-fit: contain;
}

/* HTML */
ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}