// Small tablets and large smartphones (landscape view) ≥576px
$screen-sm-min: 576px;

// Medium - Small tablets (portrait view) ≥768px
$screen-md-min: 768px;

// Large ≥992px
$screen-lg-min: 992px;

// Extra large ≥1200px
$screen-xl-min: 1200px;

// Extra extra large ≥1400px
$screen-xxl-min: 1400px;