/* LISTS */

ul li::marker {
    content: "🧡";
}

ul li {
    list-style-position: inside;
}

.listsymbol__gap li span {
	position: relative;
	left: 1rem;
}

ul.listsymbol__gap li::marker {
	content: "🍔";
}

ul.listsymbol__gap li::before {
    content: "::before";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}