/* BASE */

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* main */

.main_2560 {
    max-width: 2560px;
    margin: 0 auto;
}

.main_full {
    width: 100%;
    margin: 0 auto;
}

/* section */

section {
    overflow: hidden;
    min-height: 520px;
    margin: 0 auto;
    padding: 80px 24px;

    display: flex;
    justify-content: center;
    align-items: center;


    // ≥576px
    @include sm {
        color: #ff0000;
    }

    // ≥768px
    @include md {
        color: #00ff00;
    }

    // ≥992px
    @include lg {
        color: #0000ff;
        padding: 140px 160px;
    }

    // ≥1200px
    @include xl {
        color: #00ffff;
    }

    // ≥1400px
    @include xxl {
        color: #ff00ff;
    }
}

header, section:not(:last-child) {
    border-bottom-color: var(--bg);
    border-bottom-style: solid;
    border-bottom-width: 12px;
}

.slide:nth-child(odd) {
    background-image: radial-gradient(circle at 50% -3.03%, #fe8543 0, #ff7946 10%, #ff6c4a 20%, #ff5e4e 30%, #ff4d53 40%, #ff3858 50%, #fb1b5e 60%, #f70066 70%, #f1006f 80%, #eb0079 90%, #e30083 100%);
}

.slide:nth-child(even) {
    background-image: linear-gradient( 135deg, #F0FF00 10%, #58CFFB 100%);
}


.container {
    width: 100%;
    background: linear-gradient(180deg, #8bc34a 0%, rgba(255, 255, 255, 0) 100%);
    // ≥576px
    @include sm {
        max-width: 540px;
    }

    // ≥768px
    @include md {
        min-width: 541px;
        max-width: 720px;
    }

    // ≥992px
    @include lg {
        min-width: 721px;
        max-width: 960px;
    }

    // ≥1200px
    @include xl {
        min-width: 960px;
        max-width: 1140px;
    }

    // ≥1400px
    @include xxl {
        min-width: 1140px;
        max-width: 1320px;
    }
}




/* Styling password fields to get better dots */
input[type="password"] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}