/* TYPOGRAPHY */

:root {
    --main-font-family: 'Sofia Pro', -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    font-family: var(--main-font-family);
    color: var(--text);
    -webkit-font-smoothing: antialiased;
}

h1 {
    // <576px
    color: #FFFFFF;
    font-size: 48px;
    letter-spacing: -1.77px;
    text-align: center;
    
    // ≥576px
    @include sm {
        color: #ff0000;
    }

    // ≥768px
    @include md {
        color: #00ff00;
        font-size: 80px;
    }

    // ≥992px
    @include lg {
        color: #0000ff;
        font-size: 110px;
    }

    // ≥1200px
    @include xl {
        color: #00ffff;
    }

    // ≥1400px
    @include xxl {
        color: #ff00ff;
        font-size: 10em;
    }
}

h2 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 1em;

    // ≥992px
    @include lg {
        color: #0000ff;
        font-size: 54px;
        line-height: 58px;
    }
}

h3 {
    margin-top: 2em;
    font-size: 28px;
}

p {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 2em;

    // ≥992px
    @include lg {
        color: #0000ff;
        font-size: 25px;
        line-height: 40px;
    }
}