/* Allgemeines */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

main {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 910px;
    height: 100vh;
    padding: 30px 30px;

    border-bottom-color: rgba(255, 255, 255, 1);
    border-bottom-style: solid;
    border-bottom-width: 12px;

    // ≥576px
    @include sm {
        color: #ff0000;
    }

    // ≥768px
    @include md {
        color: #00ff00;
    }

    // ≥992px
    @include lg {
        color: #0000ff;
        padding: 140px 160px;
    }

    // ≥1200px
    @include xl {
        color: #00ffff;
    }

    // ≥1400px
    @include xxl {
        color: #ff00ff;
    }
}

.clients {
    padding: 10px;
}

.cover {
    background-image: radial-gradient(circle at 50% -20.71%, #ffffa1 0, #f5ffa0 6.25%, #e4ffa0 12.5%, #d2ffa1 18.75%, #bdffa3 25%, #a7fda6 31.25%, #8cfaaa 37.5%, #6cf7af 43.75%, #3cf2b5 50%, #00edbc 56.25%, #00e8c6 62.5%, #00e4d0 68.75%, #00dfdc 75%, #00dbe9 81.25%, #00d7f5 87.5%, #00d3ff 93.75%, #00d0ff 100%);
    
    background: radial-gradient(80.99% 100% at 50% 0%, #00FF0A 0%, #36008E 100%), radial-gradient(50% 123.47% at 50% 50%, #EFE7C8 0%, #36008E 100%), linear-gradient(301.28deg, #FF006B 0%, #48DD9E 100%), linear-gradient(294.84deg, #5A60E4 0%, #D30000 100%), linear-gradient(52.29deg, #000000 0%, #00FF85 100%), radial-gradient(100% 138.69% at 100% 0%, #0007A5 0%, #FF7A00 100%), radial-gradient(70.41% 100% at 50% 0%, #D5B300 0%, #2200AA 100%);
    background-blend-mode: screen, screen, lighten, overlay, lighten, difference, normal;

    /* Unsplash Image */
    //background: url(https://source.unsplash.com/bQEhoSB7JZc/2560x1440);
    background: url('../img/homepage/main/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h3 {
    margin-top: 2em;
    font-size: 28px;
}

p {
    margin-bottom: 2em;
}

/* Navbar */

.navbar {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    box-sizing: content-box;
    pointer-events: auto;
    letter-spacing: normal;
    display: block;
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right))); 
}

.navbar ul {
    display: flex;
    align-items: center;
    margin: 0; 
    padding: 0;
    list-style: none;

    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 70px;
    -webkit-box-pack: justify;
   
    user-select: none;
}

.navbar li {
    margin: 0 1em;
    line-height: 70px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.dropdown {
    position: absolute;

    opacity: 1;
    z-index: 2;
    background: var(--bg-dropdown);
    
    border-top: 2px solid var(--border-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0.5rem;

    box-shadow:
      0 1px 1px hsla(0, 0%, 0%, .075),
      0 2px 2px hsla(0, 0%, 0%, .075),
      0 4px 4px hsla(0, 0%, 0%, .075),
      0 8px 8px hsla(0, 0%, 0%, .075),
      0 16px 16px hsla(0, 0%, 0%, .075);
    
    transform: translateX(-42%);
    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Navbar */
header {
    position: fixed;
    z-index: 9999;

    min-width: 320px;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;

    background: var(--bg-nav);
    backdrop-filter: saturate(180%) blur(20px);
    
    color: var(--text);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.subnav {
    z-index: 9998;
    height: 52px;
    margin-top: 70px;
    margin-bottom: -122px;
    background: linear-gradient(to left, rgba(23,103,239,0.85), rgba(20,196,251,0.85));
    backdrop-filter: saturate(180%) blur(20px);
}

.css-sticky {
    position: sticky;
    top: 0;
}

.logo {
    left: 12px;
    top: 12px;
    position: absolute;
    width: 46px;
    height: 46px;
}



/* Footer */
footer {
    min-height: 520px;
    background-color: var(--bg-nav);
}

footer > hr {
    border: 0;
    width: 100vw;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}

footer > nav {
    background-color: rgba(214, 126, 85, 0.85);
}

footer > nav > ul {
    background-color: rgba(85, 214, 170, .85);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer > nav > ul > li {
    height: 100px;
    background-color: rgba(255, 100, 38, 0.85);
    display: flex;
    align-items: center;
}




.icon {
    width: 36px;
}

section {
    overflow: hidden;
    min-height: 520px;
    padding: 30px 30px;
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    border-bottom-color: rgba(255, 255, 255, 1);
    border-bottom-style: solid;
    border-bottom-width: 12px;

    // ≥576px
    @include sm {
        color: #ff0000;
    }

    // ≥768px
    @include md {
        color: #00ff00;
    }

    // ≥992px
    @include lg {
        color: #0000ff;
        padding: 140px 160px;
    }

    // ≥1200px
    @include xl {
        color: #00ffff;
    }

    // ≥1400px
    @include xxl {
        color: #ff00ff;
    }
}
section:nth-child(odd) {
    background-image: radial-gradient(circle at 50% -3.03%, #fe8543 0, #ff7946 10%, #ff6c4a 20%, #ff5e4e 30%, #ff4d53 40%, #ff3858 50%, #fb1b5e 60%, #f70066 70%, #f1006f 80%, #eb0079 90%, #e30083 100%);
}
section:nth-child(even) {
    background-image: linear-gradient( 135deg, #F0FF00 10%, #58CFFB 100%);
}

.popular-brands {
    height: 100%;
    border-top: 1px solid #C4D4DA;
}

.popular-brands > * {
    padding: 4rem 0 4rem 0;
    box-sizing: border-box;
    border: solid 1px #C4D4DA;
    margin: -1px -1px 0 -1px;
    text-align: center;

    background-color: #DBEDF3;
}

.popular-brand-colors {
    --amazon: #FF9900;
    --apple: #000000;
    --behance: #1769FF;
    --codepen: #000000;
    --discord: #5865F2;
    --facebook: #1877F2;
    --github: #181717;
    --gmail: #EA4335;
    --google: #4285F4;
    --hellofresh: #99CC33;
    --icq: #24FF00;
    --instagram: #E4405F;
    --linkedin: #0A66C2;
    --messenger: #00B2FF;
    --patreon: #FF424D;
    --paypal: #00457C;
    --pinterest: #BD081C;
    --slack: #4A154B;
    --trello: #0052CC;
    --twitch: #9146FF;
    --twitter: #1DA1F2;
    --unsplash: #000000;
    --whatsapp: #25D366;
    --xing: #006567;
    --youtube: #FF0000;
}


/* Themes */

:root {
    --background: rgba(85, 214, 170, .85);
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}

.light {
    --bg: var(--gray0);
    --bg-nav: rgba(240, 240, 240, .8);
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
}

.dark {
    --bg: var(--gray5);
    --bg-nav: rgba(29, 29, 31, .72);
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
}

.solar {
    --gray0: #fbffd4;
    --gray1: #f7f8d0;
    --gray2: #b6f880;
    --gray3: #5ec72d;
    --gray4: #3ea565;
    --gray5: #005368;
    --gray6: #003d4c;
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}


/* Logo Animation */

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}


.logo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}



/* Grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}



/* Extras */
.hero__arrow {
    position: absolute;
    bottom: 50px;
    left: 40px;
    z-index: 3;
    pointer-events: none;
}

.video-overlay {
    margin-top: 70px + 52px;
}

a {
    color: inherit;
    -webkit-transition: opacity .35s ease-in;
    -o-transition: opacity .35s ease-in;
    transition: opacity .35s ease-in;
}   

a {
    -webkit-transition: opacity 50ms ease-in!important;
    -o-transition: opacity 50ms ease-in!important;
    transition: opacity 50ms ease-in!important;
}s

a {
    scroll-behavior: smooth;
}

a.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: #3c4664;
    border: 1px solid #3c4664;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 23px 48px;
    border-radius: 45px;
    white-space: nowrap;
}

a.btn {
    padding: 23px 48px;
    border-radius: 45px;
}

main .btn {
    position: absolute;
    left: 50%;
    bottom: 22px;
    color: #cddbef;
    background: hsla(0,0%,100%,.15);
    backdrop-filter: blur(16px);
    transform: translate(-50%,-50%);
    z-index: 5;
    border: none;
    opacity: 1;
    transition: all .3s cubic-bezier(.21,-.01,.38,.98) 0ms;
}